[Unit]
Description=WaterSim

[Service]
ExecStart=/home/nukon/data/node-red-water-sim/app.js
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/nukon/data/node-red-water-sim/

[Install]
WantedBy=multi-user.target
